.wrapper {

}

.header {
  height: var(--height-header);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.wrap-info-channel {
  .info-channel {
    font-size: 18px;
    font-weight: 700;
  }
}

.chat {
  height: calc(100vh - var(--height-header));
}

.message {
  overflow-y: auto;
}

.send-message {
  border: 1px solid #ccc;
}
