<div *ngIf="chatSelect" class="wrapper">
  <div class="header pl-16 pr-16">
    <ng-container *ngIf="chatSelect.type === TYPE_MESSAGE_ENUM.DIRECT; else channel">
      <div class="wrap-info-direct">
        <span class="info-direct-avatar mr-6">
          <ng-container *ngIf="currentDirect?.photoUrl; else noPhotoUrl">
            <nz-avatar
              nzShape="square"
              [nzSrc]="currentDirect?.photoUrl"
            ></nz-avatar>
          </ng-container>

          <ng-template #noPhotoUrl>
            <nz-avatar
              nzShape="square"
              [nzText]="currentDirect ? currentDirect.displayName[0].toUpperCase() : ''"
            ></nz-avatar>
          </ng-template>
        </span>
        <span class="info-direct-name fw-700">
          {{ currentDirect?.displayName }}
        </span>
      </div>
    </ng-container>

    <ng-template #channel>
      <div *ngIf="currentRoom" class="wrap-info-channel d-flex ai-center jc-space-between w-full">
        <div class="info-channel">
          <ng-container *ngIf="currentRoom.isPublic; else private">
            <span class="mr-4">#</span>
          </ng-container>

          <ng-template #private>
            <span class="mr-4" nz-icon nzType="lock" nzTheme="fill"></span>
          </ng-template>
          <span class="name"> {{ currentRoom.name }} </span>
        </div>

        <div class="users d-flex ai-center">
          <button nz-button nzType="primary" class="mr-6" (click)="openPopupInvite()">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Invite
          </button>

          <ng-container *ngIf="members">
            <app-avatar-custom
              [users]="members"
            ></app-avatar-custom>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="chat pl-16 pb-16 d-flex flex-column jc-end">
    <div class="message mb-8">
      <div class="wrap-chat">
        <ng-container *ngFor="let message of messages">
          <app-message [message]="message"></app-message>
        </ng-container>
      </div>
    </div>

    <form class="send-message d-flex p-6 br-4">
      <input
        class="f-1"
        nz-input
        type="text"
        [formControl]="messageControl"
        placeholder="Enter message ..."
        [readOnly]="isSendingMessage"
      />
      <ng-container *ngIf="isSendingMessage; else sendBtn">
        <button
          ghost
          nz-button
          class="ml-6 pointer d-flex ai-center jc-center"
        >
          <span nz-icon nzType="loading" nzTheme="outline" class="d-flex ai-center"></span>
        </button>
      </ng-container>
      <ng-template #sendBtn>
        <button
          nz-button
          ghost
          (click)="sendMessage()"
          [disabled]="!messageControl.value"
          class="ml-6 pointer d-flex ai-center jc-center"
        >
          <span nz-icon nzType="send" nzTheme="outline" class="d-flex ai-center"></span>
        </button>
      </ng-template>
    </form>
  </div>
</div>
