<div class="wrap-rooms">
  <nz-collapse [nzBordered]="false" [nzGhost]="true">
    <nz-collapse-panel
      [nzHeader]="room.type"
      [nzActive]="true"
      [nzExpandedIcon]="'caret-right'"
      [ngStyle]="{
        color: 'white'
      }"
    >
      <ul class="rooms">
        <li class="room-item" *ngFor="let item of room.children">
          <ng-container *ngIf="room.type === TYPE_MESSAGE.CHANNEL">
            <ng-container *ngIf="item.isPublic; else public">
              <span class="room-item-icon hash">#</span>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="room.type === TYPE_MESSAGE.DIRECT">
            <span class="wrap-avatar">
              <nz-avatar [nzShape]="'square'" [nzSize]="18" [nzIcon]="'user'"></nz-avatar>
              <span [class]="{ circle: true, active: item.isOnline }"></span>
            </span>
          </ng-container>
          {{ item.name }}
        </li>

        <!-- Button add channel -->
        <li class="room-item" *ngIf="room.type === TYPE_MESSAGE.CHANNEL" (click)="openModalCreateChannel()">
          <span class="room-item-icon" nz-icon nzType="plus-square" nzTheme="outline"></span>
          <span>Browser channels</span>
        </li>

          <!-- Button New Direct Message -->
        <li class="room-item" *ngIf="room.type === TYPE_MESSAGE.DIRECT" (click)="openModalAddCoworker()">
          <span class="room-item-icon" nz-icon nzType="plus-square" nzTheme="outline"></span>
          <span>Add coworker</span>
        </li>
      </ul>
    </nz-collapse-panel>
  </nz-collapse>
</div>

<ng-template #expandedIcon let-active>
  {{ active }}
  <span nz-icon nzType="caret-right" class="ant-collapse-arrow"></span>
</ng-template>

<ng-template #public>
  <span class="room-item-icon" nz-icon nzType="lock" nzTheme="outline"></span>
</ng-template>
