<div class="wrap-rooms">
  <nz-collapse [nzBordered]="false" [nzGhost]="true">
    <nz-collapse-panel
      [nzHeader]="type"
      [nzActive]="true"
      [nzExpandedIcon]="'caret-right'"
      [ngStyle]="{
        color: 'white'
      }"
    >
      <ul class="rooms">
        <ng-container *ngIf="type === TYPE_MESSAGE.CHANNEL">
          <li
            *ngFor="let item of rooms"
            [class]="{
              'room-item': true,
              active: chatSelect && chatSelect.type === TYPE_MESSAGE.CHANNEL && item.id === chatSelect.id
            }"
            (click)="onSelectRoom(item.id)"
          >
            <ng-container *ngIf="item.isPublic; else private">
              <span class="room-item-icon hash">#</span>
            </ng-container>
            {{ item.name }}
          </li>
        </ng-container>

        <ng-container *ngIf="type === TYPE_MESSAGE.DIRECT">
          <li
            *ngFor="let item of directs"
            [class]="{
              'room-item': true,
              active: chatSelect && chatSelect.type=== TYPE_MESSAGE.DIRECT && item.id === chatSelect.id
            }"
            (click)="onSelectDirect(item.id)"
          >
            <span class="wrap-avatar">

              <ng-container *ngIf="item.photoUrl; else noPhotoUrl">
                <nz-avatar [nzShape]="'square'" [nzSize]="18" [nzSrc]="item.photoUrl"></nz-avatar>
              </ng-container>

              <ng-template #noPhotoUrl>
                <nz-avatar [nzShape]="'square'" [nzSize]="18" [nzText]="item.displayName[0].toUpperCase()"></nz-avatar>
              </ng-template>
              <span [class]="{ circle: true, active: item.isOnline }"></span>
            </span>
            {{ item.displayName }}
          </li>
        </ng-container>

        <!-- Button add channel -->
        <li class="room-item" *ngIf="type === TYPE_MESSAGE.CHANNEL" (click)="openModalCreateChannel()">
          <span class="room-item-icon" nz-icon nzType="plus-square" nzTheme="outline"></span>
          <span>Browser channels</span>
        </li>

          <!-- Button New Direct Message -->
        <li class="room-item" *ngIf="type === TYPE_MESSAGE.DIRECT" (click)="openModalAddCoworker()">
          <span class="room-item-icon" nz-icon nzType="plus-square" nzTheme="outline"></span>
          <span>Add coworker</span>
        </li>
      </ul>
    </nz-collapse-panel>
  </nz-collapse>
</div>

<ng-template #expandedIcon let-active>
  {{ active }}
  <span nz-icon nzType="caret-right" class="ant-collapse-arrow"></span>
</ng-template>

<ng-template #private>
  <span class="room-item-icon" nz-icon nzType="lock" nzTheme="outline"></span>
</ng-template>
