.coworker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 28px 0;
  max-height: 260px;
  overflow-y: auto;
}

.coworker-item {
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:hover {
    background-color: rgba(204, 204, 204, 0.2);
  }
}

.coworker-item + .coworker-item {
  margin-top: 8px;
}

.wrap-info {

}

.user-name {
  font-size: 16px;
  font-weight: 500;
}
