.wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 12px;
  border-bottom: 1px solid #ccc;
}

.user-info {
  display: flex;
  align-items: center;

  h4 {
    color: var(--primary-text-white-color);
    margin:  0 0 0 4px;
  }
}
