<div class="wraper">
  <div class="wrap-form">
    <h1 class="title">You must Sign In to Join</h1>
    <p class="descript">We're Team That Guider Each Other</p>

    <div class="wrap-button">
      <ng-container *ngFor="let item of methodLogin">
        <button nz-button class="button d-flex ai-center" [disabled]="item.isDisable">
          <img [src]="item.logo" [alt]="item.name" class="logo">
          <span class="button-label ml-8"> {{ item.name }}</span>
        </button>
      </ng-container>
    </div>

  </div>
</div>

