<div class="wraper">
  <div class="wrap-form">
    <h1 class="title">You must Sign In to Join</h1>
    <p class="descript">We're Team That Guider Each Other</p>

    <div class="wrap-button">
      <button class="button">
        <span class="button-icon" nz-icon nzType="facebook" nzTheme="outline"></span>
        <span class="button-label">Login With Facebook</span>
      </button>

      <button class="button">
        <span class="button-icon" nz-icon nzType="google" nzTheme="outline"></span>
        <span class="button-label">Login With Google</span>
      </button>

      <button class="button">
        <span class="button-icon" nz-icon nzType="github" nzTheme="outline"></span>
        <span class="button-label">Login With Github</span>
      </button>

      <button class="button">
        <span class="button-icon" nz-icon nzType="twitter" nzTheme="outline"></span>
        <span class="button-label">Login With Twiter</span>
      </button>

      <button class="button">
        <span class="button-icon" nz-icon nzType="apple" nzTheme="outline"></span>
        <span class="button-label">Login With Apple</span>
      </button>
    </div>
  </div>
</div>

