<form [formGroup]="form" nz-form nzLayout="vertical">
  <nz-form-item class="required-control">
    <nz-form-label [nzSpan]="24" nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <input
        nz-input
        formControlName="name"
        name="name"
        type="text"
        id="name"
      />
    </nz-form-control>
    <app-show-error
      [control]="form.controls['name']"
      controlName="Name"
    ></app-show-error>
  </nz-form-item>

  <nz-form-item class="required-control">
    <nz-form-control [nzSpan]="24">
      <label nz-checkbox formControlName="isPublic">Is Public</label>
    </nz-form-control>
    <app-show-error
      [control]="form.controls['isPublic']"
      controlName="Description"
    ></app-show-error>
  </nz-form-item>

  <div class="d-flex jc-end">
    <button class="mr-6" (click)="handleClickClose()" nz-button nzType="default">Cancel</button>
    <button nz-button (click)="handleClickCreate()" nzType="primary">Create</button>
  </div>
</form>
